.description {
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: max-content;
  max-width: 984px;
  margin: 92px auto 92px;
  /*padding: 92px 48px 0;*/
  }

  @media screen and (min-width: 1024px) and (max-width: 1279px) {
    .description {
      max-width: 928px;
      }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .description {
      max-width: 720px;
      margin: 88px auto 88px;
      }
  }
  
  @media screen and (max-width: 767px) {
    .description {
      max-width: 90%;
      margin: 64px auto 64px;
      }
  }
  
  @media screen and (max-width: 424px) {
    .description {
      max-width: 90%;
      }
  }