.conclusion__subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0;
}


@media screen and (max-width: 425px) {
  .conclusion__subtitle {
    font-size: 14px;
    line-height: 1.14;
  }
}