.footer__info-link {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.12;
  color: #FFFFFF;
  text-decoration-line: none;
  margin-right: 18px;
}

.footer__info-link:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .footer__info-link {
    line-height: 1;
    font-size: 24px;
    margin: 0;
  }
}