.footer__info-link {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration-line: none;
  margin-right: 18px;
}

.footer__info-link:hover {
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .footer__info-link {
    margin: 0 0 32px;
    font-size: 24px;
    line-height: 1;
  }

  .footer__info-link:last-child {
    margin: 0;
  }
}