.conclusion {
  display: grid;
  grid-template-columns: fit-content(1184px);
  grid-template-rows: fit-content(740px);
  align-items: center;
  justify-items: center;
  max-width: 1184px;
  margin: auto;
}