.language-switch__name {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.17;
  text-align: right;
  text-decoration: none;
  text-decoration-line: none;
  color: #FFFFFF;
  padding-right: 18px;
}

.language-switch__name:hover {
  opacity: .8;
}

.language-switch__name:last-child {
  padding-right: 0;
}

@media screen and (max-width: 425px) {
  .language-switch__name {
    font-size: 18px;
    line-height: 1.11;
  }
}