@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/language-switch/language-switch.css);
@import url(../blocks/language-switch/__item/language-switch_-item.css);
@import url(../blocks/language-switch/__name/language-switch__name.css);
@import url(../blocks/language-switch/__name/_active/language-switch__name_active.css);
@import url(../blocks/hero/hero.css);
@import url(../blocks/hero/__container/hero__container.css);
@import url(../blocks/hero/__title/hero__title.css);
@import url(../blocks/hero/__subtitle/hero__subtitle.css);
@import url(../blocks/hero/__image/hero__image.css);
@import url(../blocks/hero/__signature/hero__signature.css);
@import url(../blocks/description/description.css);
@import url(../blocks/description/__container/description__container.css);
@import url(../blocks/description/__title/description__title.css);
@import url(../blocks/description/__paragraph/description__paragraph.css);
@import url(../blocks/description/__list/description__list.css);
@import url(../blocks/description/__list-item/description__list-item.css);
@import url(../blocks/description/__fact-numbers/description__fact-numbers.css);
@import url(../blocks/gallery/gallery.css);
@import url(../blocks/gallery/__image/gallery__image.css);
@import url(../blocks/places/places.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__image/card__image.css);
@import url(../blocks/card/__text/card__text.css);
@import url(../blocks/card/__paragraph/card__paragraph.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__url/card__url.css);
@import url(../blocks/card/__url-container/card__url-container.css);
@import url(../blocks/card/__url-link/card__url-link.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__link/cover__link.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__info/footer__info.css);
@import url(../blocks/footer/__info-list/footer__info-list.css);
@import url(../blocks/footer/__info-item/footer__info-item.css);
@import url(../blocks/footer/__info-link/footer__info-link.css);
@import url(../blocks/footer/__author/footer__author.css);