.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto 24px;
  /*padding: 0 48px 0;*/
  max-width: 1184px;
  }

  @media screen and (max-width: 1190px) {
    .footer {
      max-width: 90.6%;
    }
  }


  @media screen and (max-width: 767px) {
    .footer {
      margin: 0 auto 24px;
      flex-direction: column;
      align-items: flex-start;
      }
  }
